@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 5rem;

}

body, html {
  scroll-behavior: smooth;
}

a, button{
  @apply cursor-pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.carousel{
  @apply relative h-full w-10/12 mx-auto my-0;
}

.carousel-container{
  @apply relative overflow-hidden h-full;
}



.carousel-track{
  @apply p-2 m-0 list-none relative transition-all h-full duration-700 box-border;

}

.carousel-slide{
  transform-style: preserve-3d;
  @apply absolute top-0 bottom-0 w-full z-10 box-border transition-transform transform;
}

.carousel-inactive{
  @apply transform scale-90 transition-transform;
}

.carousel-active{
  @apply scale-100 duration-700 ;
}

.carousel-button{
  @apply absolute top-1/2 transform -translate-y-1/2 z-20;
}

.cb-left{
  @apply -left-5;
}

.cb-right{
  @apply -right-5;
}


@tailwind base;
@tailwind components;
@tailwind utilities;