.slides {
    @apply grid relative;
}
.slides > .slide {
    grid-area: 1/-1;
}
.slides > button {
    @apply border-none
    appearance-none text-white
    bg-gray-700 h-10 w-10 text-4xl rounded-full absolute
    transition-opacity opacity-75 z-50 top-1/2 hover:opacity-100 focus:outline-0
    first:-left-1/2 last:-right-1/2;
}



.slide-background {
    position: absolute;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s linear, transform 0.3s ease-in-out;
    pointer-events: none;
    transform: translateX(calc(10% * var(--dir)));
}

.slide-content {
    width: 40vw;
    height: 25vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    opacity: 0.8;
    display: grid;
    align-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}

.slide-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.4;
}

.slide-content-inner {
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
}



.slide[data-active] {
    z-index: 2;
    pointer-events: auto;
}
.slide[data-active] .slide-background {
    opacity: 0.2;
    transform: none;
}
.slide[data-active] .slide-content-inner {
    opacity: 1;
}
.slide[data-active] .slide-content {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;
    transform: perspective(1000px);
}
.slide[data-active] .slide-content:hover {
    transition: none;
    transform: perspective(1000px) rotateY(calc(var(--x) * 45deg)) rotateX(calc(var(--y) * -45deg));
}